.splash-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #FFF8F0, #FFF8F0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-dark);
    z-index: 9999;
}

.splash-title {
    font-size: 2.5rem;
    font-family: "Poiret One", sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    color: var(--color-text-dark);
}

.splash-caption {
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center;
    padding: 20px;
    color: #4B3F36;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.splash-caption img {
    margin-top: 5px;
    max-width: 100%;
    height: 30px;
}

@media (max-width:500px) {
    .splash-title {
        font-size: 2rem;
    }
}